# PostgreSQL
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=main_db

# Service Databases
DATA_PROCESSOR_DB_URL=postgres://your_user:your_password@localhost:5432/main_db?sslmode=disable

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBIT_URL=amqp://guest:guest@localhost:5672/
NOTIFICATION_QUEUE=notification_queue

# Elasticsearch
ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_URL=http://localhost:9200

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_password

# REST API
HTTP_PORT=8080

# gRPC
GRPC_PORT=50051
STATE_SERVICE_ADDRESS=localhost:50051
SEARCH_SERVICE_ADDRESS=localhost:50051